.myliststyle{margin-top: -20px;}
.mylist{display: inline;background-color: #076F2A;color:green;}
.mytext{color:white;text-align: left;padding: 3.4%;font-family:Arial Black;}
.facebooktwitter{float:right;}
.textpackages{ width: 58%; margin-top:-750px;float:right;color:#114A23; font-family:cursive;font-size:20px;}
.imglawnonepark{width:40%; height:700px;}
.footer{color:#006400;font-family:Arial ;font-size:16px;margin-top:1cm; margin-left: 700px;}




@media (max-width:768px){
.mylist{display:list-item;background-color: #076F2A;color:green;}
.mytext{color:white;text-align: left;padding: 3.4%;font-family:Arial Black;}
.myliststyle{margin-top: -20px;margin-left:-20px;}
.facebooktwitter{float:right;}
.imglawnonepark{width:40%; margin:left; height:700px;}
.textpackages{width:58%;color:#114A23; margin-top:-750px;font-family:cursive;font-size:20px;margin-left:-150px; }
.footer{display:none;}

}

@media (max-width:480px){

.mylist{display:list-item;background-color: #076F2A;color:green;}
.mytext{color:white;text-align: left;padding: 3.4%;font-family:Arial Black;}
.myliststyle{margin-top: -20px;margin-left:-20px;}
.imglawnonepark{display:none}
.textpackages{width:100%;margin-left: 50px;margin-top:-80px;color:#114A23; font-family:cursive;font-size:16px; }
.facebooktwitter{float:right;}
.footer{display:none;}

}